body{
    font-family: monospace;
    overflow-x:hidden;
}

h1{
    margin: 0px;
    color: rgb(0, 191, 137);
    text-shadow: 0px 0px 10px rgb(0, 191, 137);
}

.name{
    padding-left: 50px;
    font-size: 2.2em;
}

.role{
    width:520px;
    text-align: center;
}

.profileimg{
    width:15em;
    height:15em;
    border-radius: 50%;
    object-fit: cover;
    transition:box-shadow 0.5s;
}
.profileimg:hover{
    box-shadow: 0px 0px 50px rgb(0, 191, 137);
}

.intro{
    width:100vw;
    height:100vh;
    color: white;
    background-image: radial-gradient(circle at top left,black,rgb(59, 58, 58));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2em;
    font-size: 1.2em;
    text-shadow: 1px 1px 15px rgb(0, 191, 137);
}

.about{
    width:100vw;
    color:white;
    background-image: radial-gradient(circle at bottom left,black,rgb(59, 58, 58));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutBox{
    text-align: center;
    width:35%;
    width:70vw;
    font-size: 3.5vh;
    margin: 5.5em;
    line-height: 1.5em;
    padding-block: 1em;
    padding-inline: 2em;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: 1px 1px 15px white;
    transition:box-shadow 1s;
}

.aboutBox:hover{
    box-shadow:1px 1px 50px rgb(0, 191, 137);
    text-shadow: 1px 1px 5px rgb(0, 191, 137);
}

.skills{
    background-image: radial-gradient(circle at bottom left,black,rgb(59, 58, 58));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 5.5em;
}

.skill{
    width:7em;
    height: 2.5em;
    font-size: 32px;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: white;
    border-radius: 50px;
    border:none;
    box-shadow:1px 1px 5px white ;
    transition:box-shadow 0.8s;
}
.skill:hover{
    box-shadow:1px 1px 50px rgb(0, 191, 137);
    text-shadow: 1px 1px 5px rgb(0, 191, 137);
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding-block: 1.5vh;
}

.head{
    color:black;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height:90px;
    font-weight: 900;
    background-image: linear-gradient(45deg,black,rgba(0, 0, 0, 0.5),cyan,rgb(0, 191, 137),rgb(0, 213, 153),cyan,rgba(0, 0, 0, 0.5),black);
    font-family: 'Poppins', sans-serif;
    box-shadow:1px 1px 50px white;
}

.navbar{
    width:100vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(10px);
}

.navbarButton{
    margin-top: 10px;
    width:200px;
    height:75px;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    transition: background-color 0.3s, color 0.2s,box-shadow 0.2s;
    font-weight: 700;
}

.navbarButton:hover{
    background-color: rgb(0, 191, 137);
    color:black;
    box-shadow: 1px 1px 50px rgb(0, 191, 137);
}

.projects{
    background-image: radial-gradient(circle at bottom left,black,rgb(59, 58, 58));
    display: flex;
    flex-wrap: wrap;
    gap:2.5em;
    justify-content: center;
    align-items: center;
}
.whiteImage{
    max-width: 500px;
    height:auto;
    border-radius: 0px;   
    transition:box-shadow 0.5s;
}

.blackImage{
    max-width: 500px;
    height:auto;
    border-radius: 0px;   
    transition:box-shadow 0.5s;
}

.whiteImage:hover{
    box-shadow: 0px 0px 30px white;
}

.blackImage:hover{
    box-shadow: 0px 0px 30px black;
}

.contact{
    height:fit-content;
    color:white;
}

.iconSection{
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:4vw;
    margin-bottom: 40px;
}

.icon{
    width:50px;
    height:auto;
}

.iconButton{
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition:box-shadow 0.5s;
    margin-top:20px;
    margin-bottom: none;
    margin-inline:1.2em;
}

.iconName{
    font-size: 1.2em;
    font-weight: 600;
    opacity: 0;
    transition: opacity 1.2s;
}

.iconDiv:hover .iconButton{
    box-shadow: 0px 0px 30px rgb(0, 191, 137);
}

.iconDiv:hover .iconName{
    opacity: 1;
}

.finalText{
    line-height: 4.5em;
}

@media (max-width:1177.60px){
    .intro{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:72px;
    }
    .name{
        padding-left: 0px;
    }
}

@media (max-width:900px){
    .navbar{
        visibility: hidden;
    }
}

@media (max-width:600px){
    .whiteImage{
        width:250px;
        height:auto;
    }
    .blackImage{
        width:250px;
        height:auto;
    }
    .role{
        width:95vw;
    }
}